body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.box{
    margin: 10px;
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 5px;
    width: 10px;
    height: 300px;
    transition: all 0.4s;
}
div h2{
    height: 10px;
    width: 10px;
    
}


/** 
 .box {
        width: 100px;
        height: 100px;
        background-color: teal;
        margin: 10px;
        display: inline-block;
        text-align: center;
        line-height: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
/